* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(32, 35, 48);
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 4s;
}

#logo path:nth-child(1) {
  stroke-dasharray: 545;
  stroke-dashoffset: 541;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2) {
  stroke-dasharray: 525;
  stroke-dashoffset: 525;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 533;
  stroke-dashoffset: 533;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 231;
  stroke-dashoffset: 231;
  animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 568;
  stroke-dashoffset: 568;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 605;
  stroke-dashoffset: 605;
  animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 525;
  stroke-dashoffset: 525;
  animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 563;
  stroke-dashoffset: 563;
  animation: line-anim 2s ease forwards 2.1s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  to {
    fill: white;
  }
}